.car-display-container {
    max-height: 500px; /* Set the maximum height for the elevator model */
    max-width: 500px; /* Set the maximum width for the elevator model */
    overflow-y: auto; /* Add overflow-y property to enable vertical scrolling */
    border: 2px solid black; /* Add a black border around the container */
    align-items: center;
    margin-right: 60px;
    margin-right:60px;
    
}

.car-display-scrollable {
    max-height: 400px; /* Set the maximum height for the elevator model */
    max-width: 1000px; /* Set the maximum width for the elevator model */
    overflow-y: auto; /* Add overflow-y property to enable vertical scrolling */
    
}

.car-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}