/* ElevatorForm.css */
.elevator-form {
  width: 30%; /* Set the width to half of the original size */
  margin: auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label {
  margin-bottom: 8px;
  text-align: center;
}

input {
  width: 25%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 4px;
  display: inline-block;
  -moz-appearance: textfield;
  text-align: center;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button {
  width: 25%;
  background-color: #007bff;
  color: #fff;
  padding: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.error-message {
  color: red;
  margin-top: 8px;
  text-align: center;
}
